/* Default
=========================*/
html {
    font-size: 15px;
}

body {
    margin: 0;
    font: 1rem/1.5 "Montserrat", sans-serif;
    color: #121212;
    background-color: #fafafa;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

p:last-child {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

/* Blocks
=========================*/
.page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 320px;
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
}

@media (max-height: 350px) {
    .page {
        min-height: 600px;
    }
}

.container {
    width: 100%;
    max-width: 1130px;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 880px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 776px) {
    .container {
        max-width: 550px;
    }
}

@media (max-width: 991px) {
    .container--portfolio {
        max-width: 540px;
    }
}

@media (max-width: 776px) {
    .container--portfolio {
        max-width: 500px;
    }
}

.header {
    padding-top: 2rem;
}

.header__inner {
    padding: 1.5rem 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.logo {
    font: 700 1.7rem/1 "Montserrat", sans-serif;
    color: #121212;
}

@media (max-width: 350px) {
    .logo {
        font-size: 1.5rem;
    }
}

.logo__prefix {
    color: #f12b7e;
}

.content {
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    padding-top: 7rem;
}

@media (max-width: 991px) {
    .content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 0;
    }
}

.social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font: 600 1rem/1 "Montserrat", sans-serif;
    color: #121212;
}

.social__text {
    margin-right: 0.8rem;
}

.social__icons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.social__link {
    margin-right: 0.5rem;
}

.social__link:last-child {
    margin-right: 0;
}

.social__sprite {
    display: block;
    fill: #42c98a;
    transition: fill 0.2s linear;
}

.social__sprite:hover {
    fill: #3ab17a;
}

.social__link:focus .social__sprite {
    fill: #3ab17a;
}

.social__sprite--fiverr {
    width: 22px;
    height: 22px;
}

.social__sprite--peopleperhour {
    width: 180px;
    height: 50px;
}

@media (max-width: 590px) {
    .social__sprite--peopleperhour {
        width: 150px;
    }
}

@media (max-width: 991px) {
    .portfolio {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.portfolio__title {
    font-size: 2rem;
    font-weight: 700px;
    line-height: 1.1;
    color: #121212;
}

.portfolio__item {
    width: 100%;
    max-width: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.portfolio__item:hover .portfolio__item-title {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio__img {
    max-width: 100%;
    transition: opacity 0.2s linear;
}

.portfolio__item-title {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    pointer-events: none;
}

@media (max-width: 590px) {
    .portfolio__item-title {
        padding: 0.9rem 1.5rem;
        font-size: 1.4rem;
    }
}

@media (max-width: 350px) {
    .portfolio__item-title {
        padding: 0.7rem 1rem;
        font-size: 1.2rem;
    }
}

.footer {
    padding-bottom: 2rem;
}

/* Vendor Libr
=========================*/
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir=rtl] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick__wrap {
    position: relative;
}

.slick-slider {
    height: auto;
    margin: 0 -1rem;
    overflow: hidden;
}

.slick-slider:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff url("../img/portfolio/ajax-loader.gif") center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.slick-slider.slick-initialized:after {
    display: none;
}

@media (max-width: 1200px) {
    .slick-slider {
        height: 233px;
    }
}

@media (max-width: 991px) {
    .slick-slider {
        height: 300px;
    }
}

@media (max-width: 776px) {
    .slick-slider {
        height: 265px;
    }
}

@media (max-width: 590px) {
    .slick-slider {
        height: auto;
    }
}

.slick-slide {
    padding: 1rem 1rem;
}

.slick-prev,
.slick-next {
    width: 25px;
    height: 25px;
    border: 4px solid #c5c5c5;
    border-top: 0;
    border-left: 0;
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: border-color 0.2s linear;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    border-color: #f12b7e;
}

.slick-prev {
    left: -3rem;
    -webkit-transform: translateY(-50%) rotateZ(135deg);
    transform: translateY(-50%) rotateZ(135deg);
}

.slick-next {
    right: -3rem;
    -webkit-transform: translateY(-50%) rotateZ(-45deg);
    transform: translateY(-50%) rotateZ(-45deg);
}

.slick-dots {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: -2rem;
    z-index: 2;
}

@media (max-width: 991px) {
    .slick-dots {
        bottom: -1rem;
    }
}

.slick-dots li {
    margin-right: 0.3rem;
}

.slick-dots li.slick-active button {
    background-color: #f12b7e;
}

.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #c5c5c5;
    font-size: 0;
    color: transparent;
    transition: background-color 0.2s linear;
}

.slick-dots button:hover, .slick-dots button:focus {
    background-color: #309aff;
}